body {
  font-family: Arial;
  padding: 20px;
}

li {
  cursor: pointer;
  margin: 10px 0;
}

.purchased {
  text-decoration: line-through;
  background-color: lightgreen;
}
#list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #555;
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  background: #eee;

  animation: fadeIn 0.3s ease-in;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.price {
  color: green;
}

.delete-btn {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}

.purchased {
  text-decoration: line-through;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}